:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);
    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);
}

*{
    margin: 0;
    height: 0;
}
body{
    position: relative;
    height: 100vh;
}

.background{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
}


.background .background-desktop{ 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .pattern-lines{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .logo-full{
    position: absolute;
    top:52px;
    left:50%;
    transform: translate(-50%,-50%);
    width: 209px;
    height: 30px;
}

.background .pattern-squiggly-top{
    position: absolute;
    top:78px;
    left:994px;
    width: 446px;
    height: 208px;
}

.background .pattern-squiggly-bottom{
    position: absolute;
    top:700px;
    left:0px;
    width: 825px;
    height: 400px;
}

.background .pattern-circle1{
    position: absolute;
    top:532px;
    left:962px;
    width: 217px;
    height: auto;
}

.background .pattern-circle2{
    position: absolute;
    top:-67px;
    left:66px;
    width: 217px;
    height: auto;
}