:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);
    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    position: relative;
    height: 100vh;
    font-family: 'Inconsolata';
    color: white;
}

/* background del formulario */

.background{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
}


.background .background-desktop{ 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .pattern-lines{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .logo-full{
    position: absolute;
    top:60px;
    left:50%;
    transform: translate(-50%,-50%);
    width: 209px;
    height: 30px;
}

.background .pattern-squiggly-top{
    position: absolute;
    top:78px;
    left:994px;
    width: 446px;
    height: 208px;
}

.background .pattern-squiggly-bottom{
    position: absolute;
    top:700px;
    left:0px;
    width: 825px;
    height: 400px;
}

.background .pattern-circle1{
    position: absolute;
    top:532px;
    left:962px;
    width: 217px;
    height: auto;
}

.background .pattern-circle2{
    position: absolute;
    top:-67px;
    left:66px;
    width: 217px;
    height: auto;
}

/*   fin background del formulario*/

/* Formulario*/

.formulario{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size:57px;
    color: var(--Neutral0);
    width: 798px;
    text-align: center;
    padding-top: 130px;
    font-weight: 700;
}

.subtitle{
    font-size: 22px;
    color: var(--Neutral300);
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}

/*  caja upload*/

.box-upload{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 51px;
    gap: 15px;
}

.upload-title{
    font-size: 20px;
    color: var(--Neutral0);
    font-weight: 400;
}

.file-upload-box{
    width: 446px;
    height: 118px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: var(--Neutral700);
    opacity: 0.6;
    border-radius: 10px;
    border: 2px dashed var(--Neutral300);
    cursor: pointer;
}

#dropArea:focus{
    outline: thick double white;
}

.upload-image{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 40px;
    left: 223px;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-color: var(--Neutral500);
    border-radius: 10px;
    border: 1px solid var(--Neutral0);
}

#previewContainer{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--Neutral0);
}
 #fileUpload{
    display: none;
}

.text-upload{
    position: absolute;
    top: 80px;
    left: 100px;
}

.botonesRemoveChangeIcon{
    position: absolute;
    top: 80px;
    left: 115px;
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    
}

.removeIcon{
    font-size: 11px;
    background-color: var(--Neutral500);
    padding: 5px 8px;
    color: var(--Neutral0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.changeIcon{
    font-size: 11px;
    background-color: var(--Neutral500);
    padding: 5px 8px;
    color: var(--Neutral0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info{
    display: flex;
    gap: 8px;
    color: var(--Neutral500);
    align-items: center;
}

.text-info{
    font-size: 11px;

}

.text-info-errors{
    color:var(--Orange700);
}

.image-info-error{
    fill: var(--Orange700);
}

/* ----------------------Fin caja upload-----------------------------------------*/

.box-full-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#name{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

#name:focus{
    outline-offset: 2px;   
}

.text-name{
    font-size: 20px;
}

.box-email{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#email{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

#email:focus{
    outline-offset: 2px;
}

#email::placeholder{
    color: var(--Neutral0);
    font-size: 16px;
    
}
.text-email{
    font-size: 20px;
}



.box-github{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#github{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

#github:focus{
    outline-offset: 2px;
    
}

#github::placeholder{
    color: var(--Neutral0);
    font-size: 16px;
    font-family: 'inconsolata';
}

.text-github{
    font-size: 20px;
}

.button-ticket{
    border: none;
    margin-top: 31px;
    background-color: var(--Orange700);
    width: 446px;
    height: 60px;
    color: var(--Neutral900);
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.button-ticket:focus{
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
    outline-offset: none;
}


/* fin formulario */

/* ticket */

.ticket{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.result-title{
    font-size:57px;
    color: var(--Neutral0);
    width: 798px;
    text-align: center;
    padding-top: 130px;
    font-weight: 700;
}

.result-subtitle{
    display: block;
    width: 430px;
    font-size: 22px;
    color: var(--Neutral500);
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 60px;
}

.data-ticket{
    width: 600px;
    height: 280px;
    position: relative;
    top: 144px;
}

.imgTicket{
    position: absolute;
    left: 0;
    top: 0;
}

.imgLogoTicket{
    position: absolute;
    left: 25px;
    top: 30px;
}

.ticketTitle{
    position: absolute;
    left: 85px;
    top: 25px;
    font-size: 32px;
    font-family: 'inconsolata';
    font-weight: 600;

}

.ticketDateLocation{
    position: absolute;
    left: 85px;
    top: 70px;
    color: var(--Neutral500);
    font-weight: 600;
}

.flex-user{
    position: absolute;
    top: 175px;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-name-github{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    gap: 8px;
}

.flex-github{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 6px;
}

.ticketAvatar{
    width: 70px;
    height: 70px;
    border-radius: 12px;
}   

.ticketName{
    font-size: 24px;
    color: var(--Neutral300);
    font-weight: 600;

}

.ticketUserGithub{
    color: var(--Neutral500);
    font-weight: 600;
}

.nameTicket{
    background: linear-gradient(to right,hsl(7, 86%, 67%), hsl(0, 0%, 100%)); /* Gradiente lineal */
    background-clip: text; /* Clipping del fondo */
    -webkit-text-fill-color: transparent; /* Color del texto transparente */
}

.ticketNumber{
    position: absolute;
    font-size: 26px;
    color: var(--Neutral500);
    top: 125px;
    left: 510px;
    
    transform: rotate(90deg);
}

.emailTicket{
    color: var(--Orange500);
}