:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);
    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    position: relative;
    height: 100vh;
    font-family: 'Inconsolata';
    color: white;
}

/* background del formulario */

.background{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
}


.background .background-desktop{ 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .pattern-lines{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    
}

.background .logo-full{
    position: absolute;
    top:60px;
    left:50%;
    transform: translate(-50%,-50%);
    width: 209px;
    height: 30px;
}

.background .pattern-squiggly-top{
    position: absolute;
    top:78px;
    left:994px;
    width: 446px;
    height: 208px;
}

.background .pattern-squiggly-bottom{
    position: absolute;
    top:700px;
    left:0px;
    width: 825px;
    height: 400px;
}

.background .pattern-circle1{
    position: absolute;
    top:532px;
    left:962px;
    width: 217px;
    height: auto;
}

.background .pattern-circle2{
    position: absolute;
    top:-67px;
    left:66px;
    width: 217px;
    height: auto;
}

/*   fin background del formulario*/

/* Formulario*/

.formulario{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1440px;
    height: 1100px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size:57px;
    color: var(--Neutral0);
    width: 798px;
    text-align: center;
    padding-top: 130px;
    font-weight: 700;
}

.subtitle{
    font-size: 22px;
    color: var(--Neutral500);
    margin-top: 20px;
    font-weight: 400;
    text-align: center;
}

/*  caja upload*/

.box-upload{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 51px;
    gap: 15px;
}

.upload-title{
    font-size: 20px;
    color: var(--Neutral0);
    font-weight: 400;
}

.file-upload-box{
    width: 446px;
    height: 118px;
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: var(--Neutral700);
    opacity: 0.6;
    border-radius: 10px;
    border: 2px dashed var(--Neutral300);
    cursor: pointer;
}   

.upload-image{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 40px;
    left: 223px;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-color: var(--Neutral500);
    border-radius: 10px;
    border: 1px solid var(--Neutral0);
}

#previewContainer{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--Neutral0);
}
 #fileUpload{
    display: none;
}

.text-upload{
    position: absolute;
    top: 80px;
    left: 100px;
}

.botonesRemoveChangeIcon{
    position: absolute;
    top: 80px;
    left: 115px;
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    
}

.removeIcon{
    font-size: 11px;
    background-color: var(--Neutral500);
    padding: 5px 8px;
    color: var(--Neutral0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.changeIcon{
    font-size: 11px;
    background-color: var(--Neutral500);
    padding: 5px 8px;
    color: var(--Neutral0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info{
    display: flex;
    gap: 8px;
    color: var(--Neutral500);
    align-items: center;
}

.text-info{
    font-size: 11px;

}

/* ----------------------Fin caja upload-----------------------------------------*/

.box-full-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#name{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

.text-name{
    font-size: 20px;
}

.box-email{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#email{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

#email::placeholder{
    color: var(--Neutral0);
    font-size: 16px;
    
}
.text-email{
    font-size: 20px;
}



.box-github{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 28px;
    gap: 18px;
}

#github{
    width: 446px;
    height: 50px;
    background-color: var(--Neutral700);
    border: 2px solid var(--Neutral0);
    border-radius: 10px;
    opacity: 0.3;
    color: var(--Neutral0);
    font-size: 16px;
    text-indent: 15px;
    font-family: 'inconsolata';
}

#github::placeholder{
    color: var(--Neutral0);
    font-size: 16px;
    font-family: 'inconsolata';
}

.text-github{
    font-size: 20px;
}

.button-ticket{
    border: none;
    margin-top: 31px;
    background-color: var(--Orange700);
    width: 446px;
    height: 60px;
    color: var(--Neutral900);
    font-weight: 700;
    font-size: 16px;
    border-radius: 15px;
}
